<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.back_end.mapper.UserMapper">

    <insert id="insertUser" parameterType="org.example.back_end.po.User">
        INSERT INTO user (userName, EmailAddress, password, question, answer)
        VALUES (#{userName}, #{emailAddress}, #{password}, #{question}, #{answer})
    </insert>

    <select id="findByIdentifier" parameterType="String" resultType="org.example.back_end.po.User">
        SELECT * FROM user
        WHERE LOWER(userName) = LOWER(#{identifier}) OR LOWER(EmailAddress) = LOWER(#{identifier})
    </select>

    <update id="updatePassword" parameterType="map">
        UPDATE user
        SET password = #{newPassword}
        WHERE LOWER(userName) = LOWER(#{identifier}) OR LOWER(EmailAddress) = LOWER(#{identifier})
    </update>

    <select id="getCurrentUserIdentifier" resultType="String">
        SELECT identifier FROM cuser LIMIT 1
    </select>

    <insert id="insertCUser" parameterType="map">
        INSERT INTO cuser (identifier, password)
        VALUES (#{identifier}, #{password})
    </insert>

    <delete id="truncateCUser">
        TRUNCATE TABLE cuser
    </delete>

</mapper>
